.form-container{
  height: 100%;
  width: auto;  
  /* margin-top: 30px; */
  /* margin: 20px; */
  margin-top: -450px; 

   /* Adjust as needed */

  /* border: 1px solid #ccc;  */
  /* Optional: Add border for visualization */
   /* Optional: Add padding for spacing */
  display: flex; /* Use flexbox for centering */
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center items horizontally */
  text-align: center; /* Center text */
  color: red;
  position: relative;
  }

  .form-container > * {
    margin: 10px;
  }
 


  .form-label{
      color: white;
      font-size: 20px;
      
  }

  .form-input{
    color: black;
    font-size: x-large;
  }

  .form-info{
    color: red;
  }
  
  .submit-button {
       width: 50px;
       height: 20px;
       color: red;
  }




