.form-container{
    width: 50%; /* Adjust as needed */
    margin: 0 auto; /* Center the container */
    border: 1px solid #ccc; /* Optional: Add border for visualization */
    padding: 20px; /* Optional: Add padding for spacing */
    display: flex; /* Use flexbox for centering */
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
    text-align: center; /* Center text */
    color: red;
  }

  .form-container > * {
    margin: 5px;
  }
 


  .form-input{
      color: blue;
      font-size: x-large;
      
  }
  
  .submit-button {
       width: 50px;
       height: 20px;
  }




