.main {
   /* height: 100%; */
  /* width: auto;   */
  /* margin-top: 30px; */
  margin-top: -320px; 
  /* Adjust as needed */

  /* border: 1px solid #ccc; */
   /* Optional: Add border for visualization */
   /* Optional: Add padding for spacing */
  display: flex; 
  /* Use flexbox for centering */
  flex-direction: column; 
  /* Stack items vertically */
  align-items: center; 
  /* Center items horizontally */
  text-align: center; 
  /* Center text */
  color: red;
  position: absolute;

}
.intro {
  margin: 20px;
}

.start-link{
  font-size: 30px;
  color: white;
}





.main p{
  font-size: 16px; /* Adjust text size as needed */
        /* Add any other text styling as needed */
}


/* 
main img{
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 400px;
  height: 800px;
  position: absolute;
  right: 200px;
  flex-direction: column;
  top: 80px;
  margin-left: auto;
  margin-right: auto;
} */

/* .logos-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 400px;
    height: 800px;
    position: absolute;
    right: 200px;
    flex-direction: column;
    top: 80px;
    margin-left: auto;
    margin-right: auto;
} */ 




