
.nav {
  margin: 20px;
    display: flex;
    justify-content: space-between;
    margin-right: auto;
    margin: left;
       width: 300px;
    font-size: x-large;
    position: absolute;
    left: 600px;
  }

/* .link-color {
    color: white;
} */



/* @media only screen and (max-width: 450px) {
 
.nav {
    display: flex;
    justify-content: space-between;
    margin-right: auto;
    margin: left;
    top: 150px;
    justify-content: space-between;
    width: 600px;
    font-size: 50px;
    position: absolute;
    left: 350px;
  }
    
      
    } */

 





