
.plays-container {
    
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    width: 1200px;
    position: absolute;
    left: 60px;
    margin-top: 20px;
}

@media only screen and (max-width: 450px) {
    .plays-container {
    
        height: 100vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
        width: 1000px;
        position: absolute;
        top: 1100px;
        left: 125px;
        margin-top: 20px;
    }
      
    }