
.plays-container {
    margin: 0 auto;
    max-width: 200px;
    display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
}
/* 
@media only screen and (max-width: 450px) {
    .plays-container {
    
        height: 100vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
        width: 1000px;
        position: absolute;
        top: 1100px;
        left: 125px;
        margin-top: 20px;
    }
      
    } */