


.delete-button {
    width: 100px;
    height: 50px;
    color: white;
}
.play-details {
    width: 500px;
    color: white;


}

.teamImage-container {
    width: 400px;
    margin: 10px;

}



.teamImage {
width: 250px;
height: 200px;
}
