 .play-container{
       max-height: 700px;
         height: 700px; 
        width: auto;   
        margin-top: 30px; 
        margin-top: -320px;  
        /* Adjust as needed */ 
  
        border: 1px solid #ccc; 
         /* Optional: Add border for visualization */ 
         /* Optional: Add padding for spacing */ 
        display: flex; 
         /* Use flexbox for centering */ 
        flex-direction: column; 
        /* Stack items vertically */
        align-items: center; 
        /* Center items horizontally */
        text-align: center; 
        /* Center text */
        color: red;
        position: absolute;
        overflow-y: auto;
      } 

      .plays{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: 10px;
      }
      
      
      
      .plays img{
        border: 1px solid black;
        border-radius: 4px;
        padding: 5px;
        height: 100px;
        width: 150px;
      }

      .plays h4{
        margin: 5px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
      }
      
      
            .plays-logos{
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: center;
              margin: 10px;
            }