/* .play-container {
    border: purple solid;
    display: grid;
    grid-template-areas:
        "I I T T"
        "I I P P"
        "B B F F"
        "B B T T";
}

#play-image {
    grid-area: I;

}

#play-button {
    grid-area: B;
}

#play-team {
    grid-area: T;
}

#play-play {
    grid-area: P;
}

#play-formation {
    grid-area: F;
}

#play-type {
    grid-area: T;
} */


.play-container  {
    border: #DC143C solid 4px;
    background-color: black;
    margin: 20px;
    padding: 20px;
    position: relative;

    display: flex;
    width: 500px;
    height: 400px;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    font-size: x-large;
    
    
    

    

}

.play-details {
    width: 500px;
    color: white;


}

.teamImage-container {
    width: 400px;
    margin: 10px;

}



.teamImage {
width: 250px;
height: 200px;
}
