
.play-container  {
    border: #DC143C solid 4px;
    background-color: black;
    margin: 20px;
    padding: 20px;
    position: relative;

    display: flex;
    width: 500px;
    height: 400px;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    font-size: x-large;
    
    
    

    

}
.delete-button {
    width: 100px;
    height: 50px;
}
.play-details {
    width: 500px;
    color: white;


}

.teamImage-container {
    width: 400px;
    margin: 10px;

}



.teamImage {
width: 250px;
height: 200px;
}
